@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Montserrat:wght@400;500;600&display=swap');

$blue: #640C9E;
$pink: #EE1D7A;
$secondaryWhite: #F8F8F8;

html {

    ::selection {
        background-color: $blue;
        color: #fff;
    }

    scroll-behavior: smooth;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #e5e5e5;
    }

    ::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 5px;
    }

    body {
        background-color: #e5e5e5;
        color: #222;
        font-family: 'Montserrat', sans-serif;

        ul,
        li {
            list-style: none;
            margin: 0;
            padding: 0 !important;
        }

        .card {
            background-color: transparent;
            border: 0;
            padding: 0;

            .card-body {
                background-color: transparent;
                border: 0;
                padding: 0;
            }
        }

        .cursor {
            cursor: pointer;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-bottom: 0;
        }

        img {
            user-select: none;
        }

        a {
            text-decoration: none;
            color: #fff;
            outline: none !important;

            &:hover {
                text-decoration: none !important;
                color: #ccc;
            }
        }

        .container {
            max-width: 1440px;
        }

        .navBar {
            // padding: 20px 0;
            background-color: #161616;

            h6 {
                color: #818181;
                font-size: 14px;
                display: flex;
                align-items: center;
                margin-right: 30px;
            }

            .socials {
                display: flex;
                align-items: center;

                span {
                    padding: 0 12px;
                    border-right: 1px solid #979797;
                }
            }
        }
    }
}