@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Open+Sans:wght@400;500;600&display=swap');

$blue: #640C9E;
$pink: #EE1D7A;
$secondaryWhite: #F8F8F8;

html {

    ::selection {
        background-color: $blue;
        color: #fff;
    }

    scroll-behavior: smooth;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #e5e5e5;
    }

    ::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 5px;
    }

    body {
        background-color: #e5e5e5;
        color: #222;
        font-family: 'Montserrat', sans-serif;

        ul,
        li {
            list-style: none;
            margin: 0;
            padding: 0 !important;
        }

        .card {
            background-color: transparent;
            border: 0;
            padding: 0;

            .card-body {
                background-color: transparent;
                border: 0;
                padding: 0;
            }
        }

        .cursor {
            cursor: pointer;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-bottom: 0;
        }

        img {
            user-select: none;
        }

        a {
            text-decoration: none;
            color: #fff;
            outline: none !important;

            &:hover {
                text-decoration: none !important;
                color: #ccc;
            }
        }

        .container {
            max-width: 1440px;
        }

        .navBar {
            // padding: 20px 0;
            background-color: #161616;

            h6 {
                color: #818181;
                font-size: 14px;
                margin-right: 30px;
            }

            .socials {
                display: flex;
                align-items: center;
                margin-right: 40px;

                span { 
                    height: 50px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid #9797972f;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        background-color: #ED982A;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                    }

                    &:nth-child(1) {
                        border-left: 1px solid #9797972f;

                        &::after {
                            background-color: #70A9EA;
                        }
                    }

                    &:nth-child(2) {
                        &::after {
                            background-color: #5DCFFF;
                        }
                    }

                    &:nth-child(3) {
                        &::after {
                            background-color: #23689C;
                        }
                    }
                }
            }

            a {
                color: #d7d7d7;
                font-size: 14px;
            }

            .leftSide {

                a {
                    margin-right: 20px;
                }
            }

            .rightSide {
                display: flex;
                align-items: center;

                a {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: 1px solid #9797972f;
                    padding: 0 20px;
                }
            }
        }
    }
}